@import "tailwindcss";

/* Declara tu animación dentro del layer utilities para que Tailwind no la sobrescriba */
@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(6px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    animation: fadeIn 0.45s ease-in-out both;
  }
}
